* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  background-color: #1d1160;
  text-align: center;
}

.app h1 {
  text-align: center;
  color: aliceblue;
  padding: 1em 0em;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#website-input {
  outline: none;
  appearance: none;
  border: none;
  width: 100%;
  max-width: 300px;
  height: 2.2em;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-right: 1em;
}
button,
a {
  border: none;
  background: none;
  color: #33ff00;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 1.5em auto;
}
@media screen and (max-width: 720px) {
  .flex-container {
    flex-direction: column;
  }
  #website-input {
    margin-bottom: 1em;
  }
  .qr-img {
    width: 85vw;
  }
}
